

<div class="container-fluid">
  <div>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" href="#"> Cards</a>
    <button class="navbar-toggler" type="buttom" data-toggel="collapse" data-target="collapseData">
      <span class="navbar-toggler-icon"> </span>
    </button>
    <div class="collapse navbar-collapse" id="collapseData">
      <ul class="navbar-nav ml-auto">
        <li class="nav-link" routerLink="/reset"> Reset   </li>
        <li class="nav-link" routerLink="/about" >About   </li>
      </ul>
    </div>
    </nav>
  </div>
  <div class="style1">
    <div class="text-center">
    <h4> Welcome to Cards ! </h4>
    <div>
      <img src="https://github.com/sanuser1/cards-demo1/blob/master/cards1.png?raw=true" height="120px" width="200px">
    </div>
    </div>
  </div>


</div>